{% extends "base.html" %}

{% block content %}

    <div class="column is-5 is-offset-4">
        <h3 class="title is-3">Register</h3>
        <div class="box">

            <form method="POST">
                <div class="field">
                    {{ form.csrf_token() }}
                    <div class="control">
                       {{ form.username(class="input", placeholder="Username") }}
                    </div>
                </div>
               {{ form.submit(class="button is-info is-centered") }}
            </form>

        </div>
    </div>

{% endblock %}